# deps
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# next
.next
.out
dist

# env & sqlite temp files
.env
.env.*
prisma/*.db-shm
prisma/*.db-wal
prisma/*-journal

# misc
.git
.gitignore
Dockerfile
docker-compose.yml
